.radio {
  background-color: azure;
  border:none;
  outline: none;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: relative;
}

.radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid rgba(128, 128, 128);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: azure;
}

.radio:hover::before {
  box-shadow: inset 0 0 5px 0 brown;
}

.radio.active::before {
  background-color: brown;
  outline: 2px solid brown;
}
